@import "tailwindcss";

@theme {
  --color-primary: #10B981;
  --color-accent: #FFFFFF;
  --font-sans: "Inter", ui-sans-serif, system-ui;
}

/* small extras */
.hero-bg {
  background-image: linear-gradient(to bottom right, rgba(2,6,23,0.35), rgba(2,6,23,0.25));
  background-size: cover;
  background-position: center;
}